@using Public.Enums
@using Public.Helpers

<div class="row">

    <!--Stt-->
    <div class="col-12 col-sm-12 col-md-6 col-lg-4">
        <div class="position-relative">
            <div class="form-group mb-3">
                <label class="" for="input-stt">Stt</label>
                <input type="number"
                       class="form-control" id="input-stt"
                       placeholder="Nhập thông tin ...">
            </div>
        </div>
    </div>

    <!--Tên nhà cung cấp-->
    <div class="col-12 col-sm-12 col-md-6 col-lg-4">
        <div class="position-relative">
            <div class="form-group mb-3">
                <label class="" for="input-tennhacungcap">Tên nhà cung cấp</label>
                <input type="text"
                       class="form-control" id="input-tennhacungcap"
                       placeholder="Nhập thông tin ...">
            </div>
        </div>
    </div>
    
    <!--Tên mặt hàng-->
    <div class="col-12 col-sm-12 col-md-6 col-lg-4">
        <div class="position-relative">
            <div class="form-group mb-3">
                <label class="" for="input-tenmathang">Tên mặt hàng</label>
                <input type="text"
                       class="form-control" id="input-tenmathang"
                       placeholder="Nhập thông tin ...">
            </div>
        </div>
    </div>

    <!--Số điện thoại-->
    <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="position-relative">
            <div class="form-group mb-3">
                <label class="" for="input-sodienthoai">Số điện thoại</label>
                <input type="tel"
                       class="form-control" id="input-sodienthoai"
                       placeholder="Nhập thông tin ...">
            </div>
        </div>
    </div>

    <!--Email-->
    <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="position-relative">
            <div class="form-group mb-3">
                <label class="" for="input-email">Email</label>
                <input type="email"
                       class="form-control" id="input-email"
                       placeholder="Nhập thông tin ...">
            </div>
        </div>
    </div>

    <!--Địa chỉ-->
    <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="position-relative">
            <div class="form-group mb-3">
                <label class="" for="input-diachi">Địa chỉ</label>
                <input type="text"
                       class="form-control" id="input-diachi"
                       placeholder="Nhập thông tin ...">
            </div>
        </div>
    </div>

    <!--Ghi chú-->
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="position-relative">
            <div class="form-group mb-3">
                <label for="input-ghichu">Ghi chú</label>
                <textarea class="form-control min-h-50 max-h-100" id="input-ghichu" rows="2"
                          placeholder="Nhập thông tin ..."></textarea>
            </div>
        </div>
    </div>

    <div class="col-12 py-2 text-center">
        <button type="button" class="btn btn-sm btn-primary ml-1 button-timkiem"
                onclick="quanLyNhaCungCap.nhaCungCap.getList()">
            <span class="">Tìm kiếm</span>
        </button>
    </div>
</div>