@{
    Layout = null;
    string tempPath = "/Assets/templates/assets";
    string title = ViewBag.Title ?? "";
    string fanpageURL = "https://www.facebook.com/vietgenacademy";
}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>@(title == "" ? "banmai" : String.Format("banmai - {0}", title))</title>

<link class="favicon" rel="icon" type="image/png" href="~/Assets/logo/favicon.ico">

<!--lib.ico-->
<link href="~/Assets/logo/favicon.ico" rel="shortcut icon" type="image/x-icon">
<link href="~/Assets/logo/favicon.ico" rel="shortcut icon" type="image/png">
<!--lib.template-->
<link href="@tempPath/css/main/app.css" rel="stylesheet">
<link href="@tempPath/css/main/app-dark.css" rel="stylesheet">
<link href="@tempPath/css/shared/iconly.css" rel="stylesheet">
<!--lib.template-choices-->
<link href="@tempPath/extensions/choices.js/public/assets/styles/choices.css" rel="stylesheet">
<!--lib.fancytree-->
@*<link href="@tempPath/extensions/fancytree-2.38.3/dist/skin-win8/ui.fancytree.min.css" rel="stylesheet" />*@
<!--lib.select2-->
<link href="@tempPath/extensions/select2/select2-4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<link href="@tempPath/extensions/select2/select2-bootstrap-5-theme-master/dist/select2-bootstrap-5-theme.min.css" rel="stylesheet" />
<!--lib.treeselect-js-->
<link href="@tempPath/extensions/treeselectjs-main/treeselectjs.css" rel="stylesheet" />
<!--lib.toastify-->
<link href="@tempPath/extensions/toastify-js/src/toastify.min.css" rel="stylesheet" />
<!--lib.aos-->
<link href="@tempPath/extensions/aos/aos.css" rel="stylesheet" />
<!--lib.introjs-->
<link href="@tempPath/extensions/introjs/intro.min.css" rel="stylesheet" />
<!--lib.datatables-->
<link href="@tempPath/extensions/DataTables/datatables.min.css" rel="stylesheet" />
<!--lib.viewer-->
@*<link href="@tempPath/extensions/viewerjs/viewer.css" rel="stylesheet" />*@
<!--lib.custom-->
<link href="~/Content/_Shared/_shared.css" rel="stylesheet" />
<link href="~/Content/Admin/__Home/Messenger/messenger.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
