@using Public.Enums
@using Public.Helpers

<div class="row">
    <!--Tên trường học-->
    <div class="col-12 col-sm-12 col-md-6 col-lg-4">
        <div class="position-relative">
            <div class="form-group mb-3">
                <label class="" for="input-tentruonghoc">Tên trường học</label>
                <input type="text"
                       class="form-control" id="input-tentruonghoc"
                       placeholder="Nhập thông tin ...">
            </div>
        </div>
    </div>
    
    <!--Slug-->
    <div class="col-12 col-sm-12 col-md-6 col-lg-4">
        <div class="position-relative">
            <div class="form-group mb-3">
                <label class="" for="input-slug">Slug</label>
                <input type="text"
                       class="form-control" id="input-slug"
                       placeholder="Nhập thông tin ...">
            </div>
        </div>
    </div>

    <!--Tên viết tắt-->
    <div class="col-12 col-sm-12 col-md-6 col-lg-4">
        <div class="position-relative">
            <div class="form-group mb-3">
                <label class="" for="input-tenviettat">Tên viết tắt</label>
                <input type="text"
                       class="form-control" id="input-tenviettat"
                       placeholder="Nhập thông tin ...">
            </div>
        </div>
    </div>

    <!--Số điện thoại-->
    <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="position-relative">
            <div class="form-group mb-3">
                <label class="" for="input-sodienthoai">Số điện thoại</label>
                <input type="tel"
                       class="form-control" id="input-sodienthoai"
                       placeholder="Nhập thông tin ...">
            </div>
        </div>
    </div>

    <!--Email-->
    <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="position-relative">
            <div class="form-group mb-3">
                <label class="" for="input-email">Email</label>
                <input type="email"
                       class="form-control" id="input-email"
                       placeholder="Nhập thông tin ...">
            </div>
        </div>
    </div>

    <!--Địa chỉ-->
    <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="position-relative">
            <div class="form-group mb-3">
                <label class="" for="input-diachi">Địa chỉ</label>
                <input type="text"
                       class="form-control" id="input-diachi"
                       placeholder="Nhập thông tin ...">
            </div>
        </div>
    </div>

    <!--Ghi chú-->
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="position-relative">
            <div class="form-group mb-3">
                <label for="input-ghichu">Ghi chú</label>
                <textarea class="form-control min-h-50 max-h-100" id="input-ghichu" rows="2"
                          placeholder="Nhập thông tin ..."></textarea>
            </div>
        </div>
    </div>

    <div class="col-12 py-2 text-center">
        <button type="button" class="btn btn-sm btn-primary ml-1 button-timkiem"
                onclick="quanLyTruongHoc.truongHoc.getList()">
            <span class="">Tìm kiếm</span>
        </button>
    </div>
</div>